.logo {
    margin: 2rem;
    margin-left: 5px;
    left: 0;
    display: inline;
    width: 150px;
    margin-top: 3px;
}

@media screen and (max-width: 320px) {
    .logo {
        width: 120px;
    }
}